<!------------------------------
        CONTACT_US STARTS
------------------------------>
<section class="aboutus opacity-5">
  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="display-4 mb-4">Contact us</h1>
          <p class="lead">For more information regarding our products you can contact us here!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <form class="mb-5 mb-md-0" >
            <div class="form-group">
              <label for="exampleInputName1">Name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please enter your name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Password</label>
              <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Please enter your email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Product Product category 1</option>
                  <option>Product category 2</option>
                  <option>Product category 3</option>
                  <option>Product category 4</option>
                  <option>Product category 5</option>
                </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Type your message here"></textarea>
            </div>
            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Send</button>
        </form>
      </div>
      <div class="col-12 col-md-5 my-auto ml-auto">
        <div class="card card-body bg-primary">
          <div class="lead mx-auto text-white">
            eShop Limited Company<br/>
            Email: contact@eShop.fronted<br/>
            Tel. (615) 554-990
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

<!------------------------------
    CONTACT_US ENDS
 ------------------------------>