<ngb-carousel *ngIf="items" #carousel>
  <ng-template ngbSlide *ngFor="let item of items">
    <a [routerLink]="['/product', item.name]" routerLinkActive="router-link-active" class="mx-auto text-center">
      <img [src]="item.imagelink" class="image-carousel my-5 mx-auto" alt="Random first slide" />
    </a>
    <div class="text-black text-center h3 font-weight-light mt-5 d-block w-100 d-none align-self-end">
      <span class="text-black mr-3">{{ item.name }}</span>
      <span class="text-black font-weight-bold">{{ item.price | currency: 'USD' }}</span>
    </div>
  </ng-template>
</ngb-carousel>