<section class="py-5">
  <div class="container">
    <div class="row">
      <!-- Shopping Cart -->
      <div class="col-12 col-sm-8">
        <div class="jumbtron bg-light p-4">
            <h3 class="">Shopping Cart</h3>
            <p class="text-justify pb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ratione </p>
          <table class="table table-hover table-responsive-sm table-sm" *ngIf="!cartState">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Cart item</th>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Total</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products">
                  <td class="w-25 px-5 py-3"><img src="{{ product.imagelink }}" class="img-fluid" alt=""></td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.price }}</td>
                  <td><input type="number" name="quantity" [value]="product.quantity"   [(ngModel)]="product.quantity"  class="text-center"></td>
                  <td>{{ totalPrice }}</td>      
                  <td><a class="btn btn-light"><i class="fa fa-times text-black-50"></i></a></td>
                </tr>
              </tbody>
            </table>
            <div class="lead" *ngIf="cartState">Shopping Cart is Empty!</div>
        </div>
      </div>
      <!-- Order Summary -->
      <div class="col-12 col-sm-4">
          <div class="jumbtron bg-light p-4">
              <h3 class="">Order Summary</h3>
              <span>{{ productQuantity }}</span>
            <table class="table table-hover table-responsive-sm table-sm table-borderless">
                <tbody>
                  <tr>
                    <td class="text-right" >Subtotal:</td>
                    <td>$70</td>
                  </tr>
                  <tr>
                    <td class="text-right">Shipping:</td>
                    <td>$70</td>
                  </tr>      
                  <tr>
                    <td class="text-right">Tax:</td>
                    <td>$7</td>
                  </tr>
                  <tr class="border-top">
                    <td class="text-right">Total:</td>
                    <td>$77</td>
                    </tr>      
                </tbody>
              </table>
              <button class="btn btn-primary">Checkout</button>
          </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-8">
        <div class="jumbotron py-4 bg-light">
          <div class="form-group">
            <label for=""></label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Please enter your name">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Please enter your name">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Please enter your name">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Please enter your name">
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
