td, th{
  vertical-align: 50%;
  text-align: center;
}

// input {padding: 0; margin: 0; width:30%; border:1px #ccc solid;}
// td {margin: 0; padding: 0;}
input.total {
  z-index: 25!important;
  width:3.8rem!important;
}

.image-height {
  height: 4rem;
  object-fit: contain;
  object-position: 50% 50%;
  font-family: 'object-fit: contain;';

}
