 <!------------------------------
            ABOUT_US STARTS
         ------------------------------>
         <section class="aboutus opacity-5">
            <div class="jumbotron jumbotron-fluid bg-light">
                <div class="container">
                    <h1 class="display-4 mb-4">About us</h1>
                    <p class="lead text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ratione, mollitia dolorem rem quam, distinctio doloribus similique est iusto sed assumenda a amet tempora non, quae qui. Numquam, ducimus! Magni?
                    </p>
                </div>
            </div>
        </section>
        <!------------------------------
            ABOUT_US ENDS
         ------------------------------>