<section>
    <div class="jumbotron jumbotron-fluid farmers-market">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-4 mb-5">Shop for hundreds of grocery items for your home or business</h1>
                    <p class="h2 text-justify font-weight-light mt-4">
                        <span class="h2 d-block">
                            You Shop
                        </span>
                        At home, work or on your phone. <br /> Browse our products and fill your cart with all our quality products.
                    </p>
                    <p class="h2 text-justify font-weight-light mt-4">
                        <span class="h2 d-block">
                            You Schedule
                        </span>
                        Choose a time that best fits your schedule, next day or one week out. <br /> We are always in your neighborhood.
                    </p>
                    <p class="h2 text-justify font-weight-light mt-4">
                        <span class="h2 d-block">
                            We Deliver
                        </span>
                        Our friendly drivers bring the groceries right to your door! <br /> You can always pick up by yourself at delivery spots available in your area.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-dark btn-lg mt-5 w-50" href="" [routerLink]="['/shopping']" routerLinkActive="router-link-active">Go
                        shopping!</button>
                </div>
            </div>
        </div>
    </div>
</section>