<div class="row">
  <div class="col-12">
      <nav class="d-flex flex-row-reverse flex-sm-row  align-content-start flex-wrap flex-md-nowrap">    
          
        <div [hidden]="!catname" class="flex-grow-1 text-center text-md-left disabled w-auto mr-0 mr-md-5 mt-2 mt-md-auto text-nowrap align-self-left align-self-end"
              href="#">Showing {{ numberOfItems.current }} of {{ numberOfItems.total }} in <em>{{ catname }}</em></div>            
          <div class="input-group text-center mr-auto mr-md-3 align-self-left align-self-md-center w-50 w-md-auto">
              <div class="input-group-prepend">
                  <div class="input-group-text">
                      <span class="mr-2">In Stock</span>
                      <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="inStock" (click)="getInStock(!inStock)">
                  </div>
              </div>
          </div>
          <div class="input-group nav-item-dropdown align-self-right align-self-md-center w-50 w-md-auto">
              <form #f="ngForm" class="form-inline" >
                      <label for="option" class="my-1 mr-2" for="inlineFormCustomSelectPref">Sort by:</label>
                      <select class="custom-select" name="option" id="option" [(ngModel)]="sortingValue" (change)="getSortingValue($event.target.value)">
                        <option *ngFor="let option of options" [value]="option.value">{{ option.name }} 
                        </option>
                      </select>
                      <span class="ml-3">Sorting Value{{ sortingValue }}</span>
              </form>                    
          </div>
      </nav>
      <hr />
  </div>
</div>
