<div class="row align-items-center">
    <div class="col-4 col-md-6 my-1">
        <div [hidden]="!showItemValue" class="text-left" href="#">Showing {{ numberOfItems.current }} of
            {{ numberOfItems.total }} in
            <em>{{ catname }}</em>
        </div>
    </div>
    <div class="col-3 col-md-2 my-1 text-right">
        <div class="custom-control custom-checkbox mr-sm-2">
            <input type="checkbox" class="custom-control-input" name="instock" id="instock" aria-label="Checkbox for items in stock"
                [(ngModel)]="inStock" (change)="getInStockValue($event)" />
            <label class="custom-control-label" for="instock">In Stock</label>
        </div>
    </div>
    <div class="col-2 my-1 text-right p-0">
         <div>Sort by:</div>
    </div>
    <div class="col-3 col-md-2 my-1 text-left">
                <select class="custom-select" name="option" id="option" [(ngModel)]="sortingValue" (change)="getSortingValue($event.target.value)">
                    <option *ngFor="let option of options" [value]="option.value">{{ option.name }}
                    </option>
                </select>
    </div>
</div>