<div  *ngIf="!showitems" class="row" >
<a (click)="getProductName(subcategory)" class="col-3 lead text-dark cursor card card-body text-center m-3 p-3 bg-white" *ngFor="let subcategory of subcat">
              <img class="w-100" src="{{ subcategory.items[0]?.imagelink }}" alt="">
            {{ subcategory.name }}</a>
     
  
</div>
<div *ngIf="showitems === undefined" class="row">
  <a (click)="getProductName(subcategory)" class="col-3 lead text-dark cursor card card-body text-center m-3 p-3 bg-white" *ngFor="let subcategory of allSubcat"><img class="w-100" src="{{ subcategory.items[0]?.imagelink }}" alt="">{{ subcategory.name }}</a>
</div>




