<!------------------------------
            NAV STARTS
         ------------------------------>
<section class="my-4">
  <nav class="nav nav-pills">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-lg-7">
          <span class="nav-link h3 font-weight-light text-center text-md-left pb-3 pb-md-0" href="#">Welcome to our
            online shop!</span>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
          <a class="nav-link bg-success mr-3 text-nowrap text-center text-white" role="button" data-slide="next"
            (click)="onCarouselStart($event)">Toggle Slide Show!</a>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
          <a class="nav-link bg-dark text-center" href="" [routerLink]="['/shopping']" routerLinkActive="router-link-active">Shop
            all!</a>
        </div>
      </div>
    </div>
  </nav>
</section>
<app-carousel></app-carousel>