// .carousel-fade {
//     .carousel-item{
//       opacity: 0;
//       top: 0;
//       left: 0;
//       width: 100%;
//       display: block;
//       position: absolute;
//       transition: opacity .75s ease-in-out;
//       &:first-of-type {
//         position:relative;
//       }           
//           &.active {
//               opacity: 1;
//           }
//     }
//   }


// .carousel-item {
// height: 50vh;
// }

// .carousel-caption {
//     position: absolute;
//     right: 15%;
//     bottom: 20px;
//     left: 15%;
//     z-index: 10;
//     padding-top: 20px;
//     // padding-bottom: 20px;
//     color: #000;
//     text-align: center;
// }

// .imagecarousel {
// width:200px!important;
// }


.image-height {
    height: 20rem;
    object-fit: contain;
    object-position: 50% 50%;
    font-family: 'object-fit: contain;';
}

