<!------------------------------
            CAROUSEL STARTS
         ------------------------------>
<section class="carousel bg-light">
  <div class="container">
    <!-- Controls -->
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
      <!-- The slideshow -->
      <!-- <span *ngFor="let item of data">
        <span *ngFor="let subItem of item['subcategories']"> -->
            <div class="carousel-inner">
                <!-- <span *ngFor="let ssubitem of subItem['items'] "> -->
                   
                  <div class="carousel-item"  *ngFor="let item of data; let i = index" [ngClass]="{'active': i == 1 }">
                    <a href="#"><img class="d-block md-100 w-25 text-black-50 fluid" src="{{ item.imagelink }}" alt="{{ item.name }}" />{{ item.name }}</a>
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </div>
                    
                <!-- </span> -->
            </div>
        <!-- </span>
      </span> -->
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<section class="bg-primary">
  <div class="container text-center py-3">
    <button class="btn btn-default mr-5" [routerLink]="['/shopping']" routerLinkActive="router-link-active" >Shop all!</button>
    <button class="btn btn-default ml-5" (click)="populateCarousel()" href="#carouselExampleControls" role="button" data-slide="next">Toggle Slide Show!</button>
  </div>
</section>
<section>
  <div class="container py-5">
    <div class="text-center h4">Welcome to the most popular online shop!</div>

  </div>
</section>
<!------------------------------
            CAROUSEL ENDS
         ------------------------------>