<div class="container">
    <app-shopping-toolbar></app-shopping-toolbar>
    <div class="row">
        <div class="col-3">
            <div class="wrapper">
                <!-- Sidebar -->
                <nav id="sidebar">
                    <ul class="list-unstyled components" *ngFor='let item of data; let i = index;'>
                        <li>
                            <a data-toggle="collapse" href="{{ '#pageSubmenu' + i }}" aria-expanded="selectedOption"
                                attr.aria-controls="{{ 'pageSubmenu' + i }}" class="dropdown-toggle" (click)="getSubcat(item)">{{ item.category }}</a>
                            <ul id="vert-subcat" class="collapse list-unstyled ml-3 d-none d-md-block" id="{{ 'pageSubmenu' + i }}">
                                <li *ngFor="let subItem of item['subcategories']" class="text-nowrap">
                                    <a (click)="getProductName(subItem)">{{ subItem.name }} </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-9">
            <app-shopping-list-cat></app-shopping-list-cat> 
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
</div>