<div class="container" *ngIf="data">
    <app-shopping-toolbar></app-shopping-toolbar>
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="">
                <!-- Sidebar -->
                <nav id="sidebar d-flex">
                    <ul class="list-unstyled components" *ngFor='let item of data; let i = index;'>
                        <li>
                            <a href="{{ '#pageSubmenu' + i }}" data-toggle="collapse" aria-expanded="false" class=" dropdown-toggle h5 font-weight-light btn btn-dark btn-lg w-100 w-lg-75 flex-grow-1"
                                (click)="getSubcat(item)">{{ item.category }}
                            </a>
                            <ul id="vert-subcat" class="collapse list-unstyled" id="{{ 'pageSubmenu' + i }}">
                                <li *ngFor="let subItem of item['subcategories']" class="d-inline">
                                    <a (click)="getProductName(subItem)" class="product text-nowrap btn font-weight-light border m-1">{{ subItem.name }} </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-6 col-md-8">
            <app-shopping-list-cat></app-shopping-list-cat>
            <app-shopping-list></app-shopping-list>
        </div>
    </div>
</div>