<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="wrapper">
                <!-- Sidebar -->
                <nav id="sidebar">
                    <ul class="list-unstyled components" *ngFor='let item of data; let i = index;'>
                        <li>
                            <a data-toggle="collapse" href="{{ '#pageSubmenu' + i }}" aria-expanded="false"
                                attr.aria-controls="{{ 'pageSubmenu' + i }}" class="dropdown-toggle" (click)="getSubcat(item)">{{
                                item.category }}</a>
                            <ul class="collapse list-unstyled ml-3" id="{{ 'pageSubmenu' + i }}">
                                <li *ngFor="let subItem of item['subcategories']">
                                    <a (click)="getProductName(subItem)">{{ subItem.name }} </a>
                                    <!-- <ul class="collapse list-unstyled ml-5" 
                              id="{{ 'pageSubmenu' + i }}">
                              <li *ngFor="let subsubItem of subItem['items']"> 
                                  {{ subsubItem.name }}
                              </ul> -->
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-9">
        <app-shopping-list></app-shopping-list>
     </div>  
    </div>
</div>