<div class="footer">
    <div class="container py-0">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact us</a>
            </li>
        </ul>
        <span class="text-muted"></span>
    </div>
</div>