// .wrapper {
//   position: relative;
//   overflow: hidden;
// }

// // .wrapper::before {
// //   content: '';
// //   display: block;
// //   padding-bottom: 50%; 
// // }


// .wrapper::after {
//   content: '';
//   display: block;
//   padding-top: 100%;
// }

// .wrapper img {
//   width: auto;
//   height: 60%;
//   max-width: none;
//   position: absolute;
//   left: 50%;
//   top: 0;
//   transform: translateX(-50%);
// }

// container-height {
//   height:10rem!important;
// }

// .image-container-height {
//   height: 6rem!important;
//   width: auto!important;
// }

// .image-height {
//   max-height: 100%!important;
//   // width:70%;
//   // transform: scale(1.1, 1.1);
  
// }


// .card-deck {
//   width: 100% !important;
// }

.image-height {
  height: 10rem;
  object-fit: contain;
  object-position: 50% 50%;
  font-family: 'object-fit: contain;';
}