<div *ngIf="showitems">
    <div class="row" *ngIf="filteredProducts?.length > 0">
        <div class="col-12 col-md-6 col-lg-4 mb-3 d-flex d-flex-row align-items-stretch" *ngFor="let item of filteredProducts">
            <div class="w-100 border">
                <a class="d-block text-center image-container-height" [routerLink]="['/product', item.name]" routerLinkActive="router-link-active">
                    <img class="px-5 pt-4 d-block img-fluid image-height mx-auto" src="{{ item.imagelink}}" alt="{{ item.name }}" />
                </a>
                <div class="card-body text-center d-flex flex-column align-items-center">
                    <p class="card-text mx-auto text-center ">{{ item.name }}</p>
                    <span class="text-center text-info">
                        Price: {{ item.price | currency: USD }}
                    </span>
                    <a (click)="addToCart(item)" class="btn btn-primary mt-3 text-white">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="filteredProducts?.length === 0">
        <div class="col-12">
            <div class="text-center h4 mt-5">No products yet in this category, come back later!</div>
        </div>
    </div>
</div>