/* Breakpoint for extra-small viewport */
@include media-breakpoint-up(xs) {
    
}
/* Breakpoint for small viewport */
@include media-breakpoint-up(sm) {

    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-100 {
        width: 100% !important;
    }
}
/* Breakpoint for medium viewport */
@include media-breakpoint-up(md) {

    .w-md-25 {
        width: 25% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }
}
/* Breakpoint for large viewport */
@include media-breakpoint-up(lg) {

    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }
}
/* Breakpoint for extra-large viewport */
@include media-breakpoint-up(xl) {
    
    .w-xl-25 {
        width: 25% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-100 {
        width: 100% !important;
    }
}
