// $green: #8DC63F !default;
// $orange: #F7941E !default;
// $brown: #594a42 !default;
// $dark-brown: #414042 !default;
// $tan: #e7e1d7 !default;
$grey-something:white!default;

// $text-color: $dark-brown !default;
$link-color: $grey-something !default;
// $primary-mask-color: $orange !default;

$opacity: 0.1;
$light_color_bootstrap: #e9ecef;
$text-primary: white !global;
$text-secondary: black !default;
$bg-color-carousel: #e9e8e8 !default;
$carousel-control-color : blue;
$fa-font-path: "../node_modules/font-awesome/fonts";

// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge( 
    ( 
    0: 0, 
    1: ($spacer * .25), 
    2: ($spacer * .5), 
    3: $spacer, 
    4: ($spacer * 1.5), 
    5: ($spacer * 3), 
    6: ($spacer * 3.5), 
    7: ($spacer * 4), 
    8: ($spacer * 4.5), 
    9: ($spacer * 5), 
    10: ($spacer * 5.5),
    11: ($spacer * 6),
    12: ($spacer * 6.5)
), $spacers);

